<style>
    .message {
        display: flex;
        padding: 10px;
        text-align: center;
        color: rgb(240, 59, 89);
    }
</style>
</head>

<body>
    <% if (message) { %>
        <div class="message">
            <%=message%>
        </div>
        <% } %>
</body>

</html>